* {
	box-sizing : border-box;
	margin     : 0;
	padding    : 0;

	outline    : none !important;
}

body {


}

img {
	max-width      : 100%;
	object-fit : cover;
}

a,
button {
	cursor          : pointer;
	text-decoration : none;

	color           : inherit;
}

button {
	display     : inline-block;

	border      : 0;

	font-family : inherit;
}

ul, ol {
	margin          : 0;
	padding         : 0;

	list-style-type : none;
}

::selection {
	color      : #5460f1;
	background : #fff;
}

//.container {
//	position : relative;
//	margin   : 0 auto;
//	padding  : 0 15px;
//
//	@media screen and (min-width : 768px) {
//		width : 740px
//	}
//
//	@media screen and (min-width : 992px) {
//		width : 960px
//	}
//
//	@media screen and (min-width : 1200px) {
//		width : 1140px
//	}
//
//	//@media screen and (min-width : 1500px) {
//	//	width : 1440px
//	//}
//}