@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.sec {
  &-auth {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($contrast, .15);
    }

    .sec__container {
      flex: 1;
    }
  }

  &__container {
    padding: rem(0, 15);

    @media screen and (orientation: landscape){
      padding: rem(15);
    }
  }

  &__form {
    max-width: 560px;
    width: 100%;
    margin: auto;
    padding: rem(40, 30);
    transform: translateY(-5vh);
    opacity: 0;
    transition: transform .35s ease-in-out, opacity .35s ease-in-out;

    .loaded & {
      transform: translateY(0);
      opacity: 1;
    }

    @media screen and (min-width: 586px){
      padding: rem(55, 55, 45, 55);
    }
  }
}