@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.form {
  background-color: $contrast;
  border-radius: rem(10);
  overflow: hidden;
  box-shadow: rem(0, 9, 21, 0) $secondary;
  
  &__title {
    margin-bottom: rem(30);
    font-size: rem(30);
    color: $secondary;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 586px){
      margin-bottom: rem(40);
      font-size: rem(36);
    }
  }

  &__group {
    position: relative;

    & + & {
      margin-top: rem(15);

      @media screen and (min-width: 586px){
        margin-top: rem(30);
      }
    }

    & + .form__checkbox {
      margin-top: rem(15);

      @media screen and (min-width: 586px){
        margin-top: rem(30);
      }
    }
  }

  &__control {
    position: relative;

    &:focus-within {

      &::after {
        width: 100%;
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: 100%;
      width: 100%;
      background-color: rgba($secondary, .5);
      height: rem(2);
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: '';
      top: 100%;
      width: 0;
      background-color: $primary;
      height: rem(2);
      z-index: 2;
      transition: width .4s ease-in-out;
    }

    &.valid {
      input {
       background-color: rgba($success, .15);
      }
    }

    &.invalid {
      input {
       background-color: rgba($danger, .15);
      }
    }

    input {
      display: block;
      width: 100%;
      height: rem(40);
      padding: rem(0, 5, 0, 38);
      font-size: rem(16);
      color: $secondary;
      line-height: 1.2;
      background-color: transparent;
      border: none;
      transition: background-color .15s ease-in-out;

      @media screen and (min-width: 586px){
        font-size: rem(18);
      }

      &:focus {
        &::placeholder {
          color: transparent;
        }

        & + .form__pre-icon {
          fill: $primary;
        }
      }

      &:invalid + .form__pre-icon {
        fill: rgba($danger, .85);
      }

      &::placeholder {
        color: rgba($secondary, .85);
        transition: color .35s ease-in-out;
      }

      &[type=password] {
        padding-right: rem(36);
      }
    }

    & + .text-error {
      margin-top: rem(5);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    fill: $secondary;
    transition: fill .35s ease-in-out;
  }

  &__pre-icon {
    left: rem(9);
    pointer-events: none;
  }

  &__forgot {
    position: absolute;
    top: rem(40);
    right: 0;
    margin-top: rem(12);



    &:hover {
      a {
        color: rgba($primary, .85);
      }
    }

    a {
      font-size: 80%;
      color: $primary;
      transition: color .15s ease-in-out;

      @media screen and (min-width: 586px){
        font-size: 100%;
      }
    }
  }

  &__btn {
    margin-top: rem(40);
    text-align: center;

    @media screen and (min-width: 586px){
      margin-top: rem(60);
    }
  }

  &__icon-toggle {
    position: absolute;
    right: rem(9);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 59.049 59.049' style='enable-background:new 0 0 59.049 59.049;' xml:space='preserve'%3E%3Cpath d='M11.285,41.39c0.184,0.146,0.404,0.218,0.623,0.218c0.294,0,0.585-0.129,0.783-0.377c0.344-0.432,0.273-1.061-0.159-1.405 c-0.801-0.638-1.577-1.331-2.305-2.06l-7.398-7.398l7.629-7.629c7.334-7.333,18.003-9.836,27.839-6.534 c0.523,0.173,1.09-0.107,1.267-0.63c0.175-0.523-0.106-1.091-0.63-1.267c-10.562-3.545-22.016-0.857-29.89,7.016L0,30.368 l8.812,8.812C9.593,39.962,10.426,40.705,11.285,41.39z'/%3E%3Cpath d='M50.237,21.325c-1.348-1.348-2.826-2.564-4.394-3.616c-0.458-0.307-1.081-0.185-1.388,0.273 c-0.308,0.458-0.185,1.08,0.273,1.388c1.46,0.979,2.838,2.113,4.094,3.369l7.398,7.398l-7.629,7.629 c-7.385,7.385-18.513,9.882-28.352,6.356c-0.52-0.187-1.093,0.084-1.279,0.604c-0.186,0.52,0.084,1.092,0.604,1.279 c3.182,1.14,6.49,1.693,9.776,1.693c7.621,0,15.124-2.977,20.665-8.518l9.043-9.043L50.237,21.325z'/%3E%3Cpath d='M30.539,41.774c-2.153,0-4.251-0.598-6.07-1.73c-0.467-0.29-1.084-0.148-1.377,0.321c-0.292,0.469-0.148,1.085,0.321,1.377 c2.135,1.33,4.6,2.032,7.126,2.032c7.444,0,13.5-6.056,13.5-13.5c0-2.685-0.787-5.279-2.275-7.502 c-0.308-0.459-0.93-0.582-1.387-0.275c-0.459,0.308-0.582,0.929-0.275,1.387c1.267,1.893,1.937,4.102,1.937,6.39 C42.039,36.616,36.88,41.774,30.539,41.774z'/%3E%3Cpath d='M30.539,18.774c2.065,0,4.089,0.553,5.855,1.6c0.474,0.281,1.088,0.125,1.37-0.351c0.281-0.475,0.125-1.088-0.351-1.37 c-2.074-1.229-4.451-1.879-6.875-1.879c-7.444,0-13.5,6.056-13.5,13.5c0,2.084,0.462,4.083,1.374,5.941 c0.174,0.354,0.529,0.56,0.899,0.56c0.147,0,0.298-0.033,0.439-0.102c0.496-0.244,0.701-0.843,0.458-1.338 c-0.776-1.582-1.17-3.284-1.17-5.06C19.039,23.933,24.198,18.774,30.539,18.774z'/%3E%3Cpath d='M54.621,5.567c-0.391-0.391-1.023-0.391-1.414,0l-46.5,46.5c-0.391,0.391-0.391,1.023,0,1.414 c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l46.5-46.5C55.012,6.591,55.012,5.958,54.621,5.567z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    display: block;
    width: rem(20);
    height: rem(20);
    user-select: none;
    transition: background .15s ease-in-out;

    &.show {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 59.2 59.2' style='enable-background:new 0 0 59.2 59.2;' xml:space='preserve'%3E%3Cpath d='M51.062,21.561c-11.889-11.889-31.232-11.889-43.121,0L0,29.501l8.138,8.138c5.944,5.944,13.752,8.917,21.561,8.917 s15.616-2.972,21.561-8.917l7.941-7.941L51.062,21.561z M49.845,36.225c-11.109,11.108-29.184,11.108-40.293,0l-6.724-6.724 l6.527-6.527c11.109-11.108,29.184-11.108,40.293,0l6.724,6.724L49.845,36.225z'/%3E%3Cpath d='M28.572,21.57c-3.86,0-7,3.14-7,7c0,0.552,0.448,1,1,1s1-0.448,1-1c0-2.757,2.243-5,5-5c0.552,0,1-0.448,1-1 S29.125,21.57,28.572,21.57z'/%3E%3Cpath d='M29.572,16.57c-7.168,0-13,5.832-13,13s5.832,13,13,13s13-5.832,13-13S36.741,16.57,29.572,16.57z M29.572,40.57 c-6.065,0-11-4.935-11-11s4.935-11,11-11s11,4.935,11,11S35.638,40.57,29.572,40.57z'/%3E%3C/svg%3E%0A");
    }
  }
}

.text-error {
  max-width: 60%;
  z-index: 1;
  font-size: rem(12);
  line-height: 1;
  color: $danger;

  @media screen and (min-width: 586px) {
    font-size: rem(14);
  }
}