@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: rem(5);
  height: rem(46);
  white-space: nowrap;
  padding: 0 rem(20);
  min-width: 150px;
  color: $contrast;
  font-size: rem(16);
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: rem(1.8);
  transition: opacity .15s ease-in-out;

  @media screen and (min-width: 586px){
    height: rem(48);
    min-width: 200px;
    font-size: rem(18);
    letter-spacing: rem(3.6);
  }

  &-primary {
    background-color: $primary;
  }

  &:hover {
    opacity: .85;
  }
}