@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.checkbox {
  display: inline-flex;
  padding-left: rem(30);
  position: relative;
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.5;
  color: $secondary;
  user-select: none;
  transition: opacity .15s ease-in-out;

  @media screen and (min-width: 586px){
    font-size: rem(18);
  }

  &:hover {
    opacity: .85;
  }

  &__input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 0;

    &:checked + label .checkbox__icon {
      //background-color: $primary;

      &::after {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
      }
    }
  }

  &__icon {
    position: absolute;
    top: rem(3);
    left: 0;
    display: block;
    width: rem(18);
    height: rem(18);
    border: 2px solid $primary;
    border-radius: rem(2);
    cursor: pointer;
    transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out;

    @media screen and (min-width: 586px){
      width: rem(20);
      height: rem(20);
      top: rem(5);
    }

    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 26 26'%3E%3Cpath fill='%23b224ef' d='m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z'/%3E%3C/svg%3E%0A");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: rem(14) rem(14);
      width: rem(18);
      height: rem(18);
      margin-top: rem(-3);
      opacity: 0;
      visibility: hidden;
      transition:
              visibility .15s ease-in-out,
              opacity .15s ease-in-out,
              margin-top .15s ease-in-out;
    }

    &:hover {
      box-shadow: 0 0 2px $secondary;
    }
  }

}